body
{
  background-image:url('image.jpeg') ;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(50, 223, 16);
  width: 350px;
  height: 300px; 
}
#result_emotion_name  
{
  color: rgb(156, 10, 10);
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size:18px;
  border-radius: 10px;
  letter-spacing: 10px;
}
